
@{
    ViewBag.Title = "Filtros Listado Básico De Obras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div class="row">
    <div class="container">
        <div class="card col-md-8 p-3" style="box-shadow: 3px 3px 5px">
            <div class="col-md-12">
                <div class="x_title">
                    <h2><i class="fa fa-list-alt" aria-hidden="true"></i> <strong>Listado de Contratos</strong></h2>
                    <div class="clearfix"></div>
                </div>
                <form id="form-listado">
                    <div class="card p-2 m-1" style="box-shadow: 1px 1px 2px">
                        <div class="form-group row p-1">
                            <label class="col-sm-2 col-lg-2 col-form-label">Centro Gestión:</label>
                            <div class="col-sm-4 col-lg-4">
                                <select class="form-control custom-select input-radius" style="width: 100%;" id="ddlGrupo">
                                    <option disabled selected value="">Seleccione Opción-></option>
                                </select>
                            </div>
                            <div id="divChkAdminCentral" class="col-sm-6 col-lg-6 p-2 justify-content-center" style="display:none">
                                <input class="col-sm-1 col-lg-1 custom-checkbox" type="checkbox" id="chkAdminCentral" />
                                <label class="col-sm-10 col-lg-10 p-0">Incluir Contratos Administración Central</label>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 m-1" style="box-shadow: 1px 1px 2px">
                        <div class="form-group row p-1">
                            <label class="col-sm-2 col-lg-2 col-form-label">Estado</label>
                            <div class="col-sm-4 col-lg-4">
                                <select class="form-control custom-select input-radius" style="width: 100%;" id="ddlEstadoContrato">
                                    <option disabled value="">Seleccione Opción-></option>
                                    <option selected value="EN EJECUCION">EN EJECUCION</option>
                                    <option value="EN GARANTIA">TERMINADOS</option>
                                    <option value="EJECUCION+TERMINADOS">EN EJECUCION + TERMINADOS</option>
                                    <option value="LIQUIDADO">LIQUIDADOS</option>
                                    <option disabled value="TODOS">TODOS</option>
                                </select>
                            </div>
                            <div id="divChkRangoFechas" class="col-sm-6 col-lg-6 p-2 justify-content-center" style="display:none">
                                <input class="col-sm-1 col-lg-1 custom-checkbox" type="checkbox" id="chkRangoFechas" />
                                <label class="col-sm-10 col-lg-10 p-0">Incluir Rango de Fechas</label>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 m-1" id="divRangoFechas" style="display:none; box-shadow: 1px 1px 2px">
                        <p class="card-header p-0"><strong>Resultados por rango de fechas</strong></p>
                        <div class="form-group row p-1 mt-2">
                            <label class="col-sm-2 col-lg-2 col-form-label">Desde</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="date" class="form-control input-radius" name="" id="dateInicio" />
                            </div>
                            <label class="col-sm-2 col-lg-2 col-form-label">Hasta</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="date" class="form-control input-radius" name="" id="dateFin" />
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 m-1" id="divRegion" style="box-shadow: 1px 1px 2px">
                        <div class="form-group row p-1">
                            <label class="col-sm-2 col-lg-2 col-form-label">Región</label>
                            <div class="col-sm-4 col-lg-4">
                                <select class="form-control custom-select input-radius" style="width: 100%;" id="ddlRegion">
                                    <option disabled selected value="">Seleccione Opción-></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 m-1" style="box-shadow: 1px 1px 2px">
                        <div class="form-group row p-1">
                            <label class="col-sm-2 col-lg-2 col-form-label">Tipo Contrato</label>
                            <div class="col-sm-4 col-lg-4">
                                <select class="form-control custom-select input-radius" style="width: 100%;" id="ddlTipoContrato">
                                    <option disabled value="">Seleccione Opción-></option>
                                    <option selected value="TODOS">TODOS</option>
                                    <option value="00">SOLO ASESORIAS</option>
                                    <option value="01">SOLO ESTUDIOS</option>
                                    <option value="OBRAS">SOLO OBRAS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 m-1" style="box-shadow: 1px 1px 2px">
                        <div class="form-group row p-1">
                            <label class="col-sm-2 col-lg-2 col-form-label">Departamento/Unidad</label>
                            <div class="col-sm-4 col-lg-4">
                                <select class="select2_multiple form-control input-radius" multiple="multiple" style="width: 100%" id="ddlClase">
                                    <option disabled selected value="">Seleccione Opción-></option>
                                </select>
                                <label class="col-sm-10 col-lg-10 p-0"><i>en desarrollo...</i></label>
                            </div>
                        </div>
                    </div>
                    <div class="container text-center mt-3">
                        <button type="button" id="btnGeneraReporte" class="btn btn-success btnSombra">Generar Reporte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Js/ReportesSac/FiltrosListadoObras.js?v04052021"></script>
}