* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( 90deg, #5A738E, #000851);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h3 {
    color: #4375e2;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.container-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 95%;
    min-height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.acceso-header {
    background-color: rgba(11, 33, 88, 0.7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px;
}

.acceso-header-logo,
.acceso-header-title {
    color: #fff;
    padding: 0px 20px;
}

.content-container {
    min-height: 30%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.acceso-left-panel {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.acceso-mid-panel {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.acceso-mid-panel__svg {
    border: 1px solid rgba(215, 215, 209, 0.9);
    border-radius: 11px;
    width: 60%;
}

.acceso-left-panel a {
    font-size: 15px;
    padding: 3px 0px;
    text-decoration: none;
    color: #5A738E;
}

.acceso-left-panel a:hover {
    color: #7ba771;
    text-decoration: underline;
}

.acceso-right-panel {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    width: 30%;
    min-height: 70vh;
}

.acceso-right-panel__contanier {
    width: 70%;
    height: 40%;
    margin-top:30px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.2);
    background-color: rgba(134, 163, 255, 0.2);
}

.form-acceso {
    display: flex;
    flex-direction: column;
}

.form-acceso-label {
    margin: 3px 0px;
    font-size: 15px;
}

.form-acceso-input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 15px;
    line-height: 0.5;
    margin: 3px 0px;
    height: 30px;
}

.form-acceso-button {
    background: #5A738E;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 40px;
    margin: 15px 0px;
    transition: .2s ease all;
}

.form-acceso-button:hover, .boton:hover {
    background: #5754b1;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2);
}

.boton {
    margin-top: -20px;
    margin-left: -150px;
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #7ba771;
    transition: .3s ease all;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    display:flex;
    justify-content: center;
}

.alert-icon-hidden {
    visibility: hidden;
}

.alert-icon-show {
    visibility: visible;
}


.red-text {
    color: red;
    text-align: center;
}

.red-border {
    border: 1px solid;
    border-color: red;
}

.bold {
    font-weight: 400;
}

@media screen and (max-width: 1300px) {
    .acceso-header {
        padding: 5px 0px 0px 0px;
    }


    .acceso-right-panel__contanier {
        width: 90%;
        height: 40%;
    }

    .acceso-left-panel a {
        font-size: 12px;
        padding: 3px 0px;
        text-decoration: none;
        color: #000;
    }
}

@media screen and (max-width: 1100px) {

    .acceso-header-title {
        text-align: center;
    }

    .content-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .acceso-right-panel {
        min-height: 100%;
        width: 60%;
    }

    .acceso-mid-panel {
        width: 100%;
    }

    .acceso-left-panel {
        margin-bottom: 20px;
        width: 50%;
    }

    .footer {
        padding: 0px 20px;
    }

    .footer_text {
        text-align: center;
    }
}

@media screen and (max-width: 730px) {

    .acceso-left-panel {
        width: 90%;
    }

    .acceso-right-panel {
        width: 100%;
    }

    .boton {
        margin-top: 0px;
        margin-left: 0px;
    }
}